@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap");
$font-body: "Roboto", sans-serif;
$background-ocean: url("./images/ocean.PNG");
$color-white: #fafafa;

* {
  background-color: $color-white;
  margin: 0;
  padding: 0px;
  box-sizing: border;
  font-family: $font-body;
}

body {
  display: flex;
  align-items: center;
  // justify-content: center;
  flex-direction: column;
  padding: 5px;

  .startGame {
    margin: 20px;
    padding: 2px;
    background-color: aqua;
  }
}

main {
  width: 900px;
  height: 900px;
  border: 2px midnightblue solid;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute; // gives the playing container a position
  top: 210px;
  background-image: $background-ocean;
  // visibility: hidden;

  .octopus {
    width: 50px;
    height: 50px;
    top: 0px;
    left: 0px;
    position: absolute;
    background-color: transparent;
    z-index: 1;
  }
  .treasures {
    width: 25px;
    height: 25px;
    position: absolute;
    background-color: transparent;
 
    
  }
  .treasure__position1{
    left: -20px;
    top: -20px;
  }
  .treasure__position2 {
    left: -20px;
    top: -20px;
  }
  .treasure__position5 {
    left: -20px;
    top: -20px;
  }
  .treasure__position6 {
    left: -20px;
    top: -20px;
  }
  
}

#move {
  background-color: gold;
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
  border: 5px solid #333;
  outline: none;
}

#move:hover {
  background-color: coral;
}
#move:active {
  background-color: yellowgreen;
}

// rotate format

.rotate {
  animation: rotation 5s;
  background-color: transparent;
}

@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(359deg);
  }
}