@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap");
$font-body: "Roboto", sans-serif;
$background-ocean: url("./images/ocean.PNG");
$color-white: #fafafa;

* {
  margin: 0;
  padding: 0px;
  box-sizing: border;
  font-family: $font-body;
  background-color: snow;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5px;

  .startDisplay {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    

    #gameName {
      color: midnightblue;
      font-family: "Nova Flat";
      font-size: 65px;
    }
  }
  .startButton {
    height: 80px;
    width: 110px;
    padding: 2px;
    border-radius: 30px;
    box-sizing: border-box;
     background-color: slateblue;
    border: 5px solid midnightblue;

    // .startButton:hover {
    // background-color: coral;
    // box-shadow: 0 0.4rem 1.4rem 0 goldenrod;
    // }
    }
  // rotate format
  .rotateStart {
    margin: 50px;
    height: 250px;
    width: 250px;
    position: relative;
    animation: rotation 8s infinite linear;
    background-color: transparent;   
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
}

main {
  // display: grid;

  // flex-direction: column;
  // align-items: left;
  // justify-content: center;
  // flex-direction: column;
  width: 900px;
  height: 900px;
  padding: 2px;
  margin: 0 auto;
  // margin:50px
  border: 2px midnightblue solid;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute; // gives the playing container a position
  top: 200px;
  background-image: $background-ocean;
  background-size: cover;

  .timerDisplay {
    display: flex;
    flex-direction: row;
    // text-align: right;
    width: 20px;
    height: 20px;
    background-color: transparent;
    padding: 0px 0px 0px 18px;
    size: 20px;
    font-weight: bolder;
    justify-content: center;
    align-items: left;
    visibility: hidden;

    #timer {
      background-color: transparent;
      margin-left: 2px;
    }
  
  }

  // .timerDisplay__number {
  //   background-color: transparent;
  // }

  .octopus {
    width: 75px;
    height: 75px;
    align-items: center;
    top: 0px;
    left: 0px;
    position: absolute;
    background-color: transparent;
    z-index: 1;
  }
  .treasures {
    width: 25px;
    height: 25px;
    position: absolute;
    background-color: transparent;
    left: -20px;
    top: -20px;
  }
  .treasure__position1 {
    left: -20px;
    top: -20px;
  }
  .treasure__position2 {
    left: -20px;
    top: -20px;
  }
  .treasure__position5 {
    left: -20px;
    top: -20px;
  }
  .treasure__position6 {
    left: -20px;
    top: -20px;
  }
}
